.power {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    align-items: center;
    height: 5rem;
    width: 100%;
    color: white;
    margin-left: 3.5rem;
}

.power p {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.ability {
    display: flex;
    justify-content: left;
    margin-top: 1rem;
    align-items: center;
    height: 5rem;
    width: 100%;
    color: white;
    margin-bottom: 2rem;
}

.ability h2 {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    background-color: red;
    font-size: 3rem;
    margin-left: 5rem;
    border-radius: 5px;
}

.ability p {
    font-size: 2.5rem;
    margin-left: 3rem;
    margin-top: 10rem;
}

.name {
    display: flex;
    margin-top: 7rem;
    width: 200px;

}

.name p {
    font-size: 1.8rem;
    color: white;
    font: bold;
    margin-left: 5rem;
}

.chareter-img {
    display: flex;
    justify-content: center;

}

.chareter-img:hover {
    transform: scale(1.1);

}

.chareter-img img {
    width: 400px;
    margin-left: rem;
    margin-top: 5rem;
    transition: transform 0.5s;
}

.char-info p {
    color: white;
    font-size: 1.4rem;
    margin-left: 5rem;
    margin-top: 3rem;
}

.char-info ul {
    color: white;
    font-size: 1.4rem;
    margin-left: 5rem;
    margin-top: 3rem;
}