* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #1e1f21;
    color: #fff;
    overflow-x: scroll;
    overflow-y: scroll;
}

.wrapper {
    padding: 5px 10%;
}

#card-area {
    padding: 50px 0;
}

.box-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* Adjust the minmax width */
    grid-gap: 70px;
    margin-top: 50px;
}

.box {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    width: 250px;
    height: 400px;
}

.box img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    filter: grayscale(100);
}

.overlay {
    width: 100%;
    height: 0;
    background: linear-gradient(transparent, #1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    /* Adjust padding */
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.overlay h3 {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 60%;
    /* Adjust margin-top */
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    /* Adjust font-size */
    letter-spacing: 2px;
}

.overlay a {
    margin-top: 10px;
    color: #262626;
    text-decoration: none;
    font-size: 14px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
}

.box:hover img {
    transform: scale(1.1);
    filter: grayscale(0);
}

.box:hover .overlay {
    height: 100%;
}